<header class="header">
  <div class="container">
    <section class="header__left">
      <div class="header__logo">
        <img src="assets/img/logo.png" alt="">
      </div>
      <div class="header__description">
        Английский язык
      </div>
    </section>
    <section class="header__center">
      <nav class="header__menu">
        <div class="header__menu-item">
          <div class="icon">
            <img src="assets/img/icon_01.png" alt="">
          </div>
          <div class="name">
            Уроки
          </div>
        </div>
        <div class="header__menu-item">
          <div class="icon">
            <img src="assets/img/icon_02.png" alt="">
          </div>
          <div class="name">
            Уроки
          </div>
        </div>
        <div class="header__menu-item">
          <div class="icon">
            <img src="assets/img/icon_03.png" alt="">
          </div>
          <div class="name">
            Уроки
          </div>
        </div>
        <div class="header__menu-item">
          <div class="icon">
            <img src="assets/img/icon_04.png" alt="">
          </div>
          <div class="name">
            Уроки
          </div>
        </div>
      </nav>
    </section>
    <section class="header__right">
      <div class="header__user">
        <div class="header__user-photo">
          <img src="assets/img/user-photo.png" alt="">
        </div>
        <div class="header__user-notif">
          <div class="header__user-notif-item">
            <div class="icon">
              <img src="assets/img/icon-bell.png" alt="">
            </div>
            <div class="number">
              1
            </div>
          </div>
          <div class="header__user-notif-item">
            <div class="icon">
              <img src="assets/img/icon-feedback.png" alt="">
            </div>
            <div class="number">
              1
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>
<div class="main-wrap">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  Copyright 2019
</footer>


