<div class="container container--lessons">
  <section class="lessons__header">
    <div class="lessons__user-data">
      <div class="info">
        <img src="assets/img/user-photo_02.png" alt="">
      </div>
      <div class="menu">
        <div class="item">
          <img src="assets/img/icon-bookmark.png" alt="">
        </div>
        <div class="item">
          <img src="assets/img/icon-dots.png" alt="">
        </div>
      </div>
    </div>
    <div class="lesson__info">
      <div class="lesson__photo">
        <img src="assets/img/photo_01.png" alt="">
      </div>
      <div class="lesson__description">
        <div class="module-name">Модуль</div>
        <div class="title">
          <div>Время настоящее, часть 1</div>
          <div class="translate">Present simple vol. 1</div>
        </div>
        <div class="difficult">Beginners</div>
      </div>
    </div>
    <nav class="lesson__menu">
      <div class="item">Об уроке</div>
      <div class="item">Содержание</div>
      <div class="item">Упражнения</div>
      <div class="item">Выполнение урока</div>
    </nav>
    <div class="lesson__progress">
      <div class="line" [style.width]="progress + '%'"></div>
    </div>
  </section>

  <app-question [question]="currentQuestion" [questionType]="currentQuestion.type"></app-question>

  <div class="lesson__question-results" [ngClass]="resultStyle">
    <div class="lesson__question-result-side left" *ngIf="questionAnswered">
      <div class="image">
        <img [src]="correctAnswer ? 'assets/img/icon-correct.png' : 'assets/img/icon-incorrect.png'" alt="">
      </div>
      <div class="text">
        {{correctAnswer ? 'Верно' : 'Неверно'}}
      </div>
    </div>
    <div class="lesson__question-buttons" *ngIf="!complete">
      <button class="button button--green" type="button" (click)="questionAnswered ? nextQuestion() : checkAnswer()">
        {{questionAnswered ? 'Дальше' : 'Проверить'}}
      </button>
    </div>
    <div class="lesson__question-result-side right" *ngIf="questionAnswered">
      Сообщить об ошибке
    </div>
  </div>

  <h5 *ngIf="complete">Test is Complete</h5>
</div>

