<div class="container container--lessons">
  <section class="lessons__header">
    <div class="lessons__user-data">
      <div class="info">
        <img src="assets/img/user-photo_02.png" alt="">
      </div>
      <div class="menu">
        <div class="item">
          <img src="assets/img/icon-bookmark.png" alt="">
        </div>
        <div class="item">
          <img src="assets/img/icon-dots.png" alt="">
        </div>
      </div>
    </div>
    <div class="lesson__info">
      <div class="lesson__photo">
        <img src="assets/img/photo_01.png" alt="">
      </div>
      <div class="lesson__description">
        <div class="module-name">Модуль</div>
        <div class="title">
          <div>Время настоящее, часть 1</div>
          <div class="translate">Present simple vol. 1</div>
        </div>
        <div class="difficult">Beginners</div>
      </div>
    </div>
    <nav class="lesson__menu">
      <div class="item">Об уроке</div>
      <div class="item">Содержание</div>
      <div class="item">Упражнения</div>
      <div class="item">Выполнение урока</div>
    </nav>
    <div class="lesson__progress">
      <div class="line"></div>
    </div>
  </section>
  <section class="lesson__question">
    <div class="lesson__question-title">Apple</div>
    <div class="lesson__question-variants">
      <div class="lesson__question-variant">
        <img src="assets/img/mango.png" alt="">
      </div>
      <div class="lesson__question-variant">
        <img src="assets/img/apple.png" alt="">
      </div>
      <div class="lesson__question-variant">
        <img src="assets/img/pineapple.png" alt="">
      </div>
      <div class="lesson__question-variant">
        <img src="assets/img/banan.png" alt="">
      </div>
    </div>
    <div class="lesson__question-buttons">
      <button class="button button--green" type="button">
        Проверить
      </button>
    </div>
  </section>
</div>

